[Unit]
Description=Hubbot

[Service]
ExecStart=/usr/local/bin/hubbot +
User=hubbot
Restart=on-success
RestartSec=2min

[Install]
WantedBy=multi-user.target
