[Unit]
Description=Hubbot Scanning (New)

[Service]
Environment=HUBBOT_NEW_STYLE=t
ExecStart=/usr/local/bin/hubbot scan
User=hubbot
Restart=always
RestartSec=2min

[Install]
WantedBy=multi-user.target
