[Unit]
Description=Hubbot Scanning

[Service]
ExecStart=/usr/local/bin/hubbot scan
User=hubbot
Restart=always
RestartSec=2min

[Install]
WantedBy=multi-user.target
